/*
Fly on the CSS
--------------
..CONJOINED..
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Roboto'); /* Require Fonts */
body.flyonthecss {
  background-color: #f2f2f2;
  padding: 0px;
  margin: 0px;
}
body.flyonthecss.dark {
  background-color: #666666;
}
body.flyonthecss.alt {
  background-color: #ffffff;
}
body.flyonthecss.alt.dark {
  background-color: #333333;
}
.content.flyonthecss {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin: 0px;
}
.content.flyonthecss.dark {
  background-color: #333333;
  color: #ffffff;
}
.content.flyonthecss.monst {
  font-family: 'Montserrat', sans-serif;
}
.content.flyonthecss.mobile {
  display: none;
}
.flyonthecss.hero {
  padding: 20px;
  background-color: #f2f2f2;
  margin: 10px;
}
.flyonthecss.hero.curve {
  border-radius: 20px;
}
.flyonthecss.hero.dark {
  background-color: #666666;
  color: #ffffff;
}
.flyonthecss.hero.gradient.light {
  background-color: #666666;
  color: #ffffff;
}
.flyonthecss.hero.gradient.dark {
  background-color: #666666;
  color: #000000;
}
.flyonthecss.gradient.light {
  background: linear-gradient(to bottom right, #33ccff 0%, #6699ff 100%);
}
.flyonthecss.gradient.dark {
  background: linear-gradient(to bottom right, #0066cc 0%, #000099 100%);
}
